.man{

    width: 100%;
    height:auto;
    background-color: rgb(240, 230, 230);
   
}
body{
    font-family:Khmer OS Battambang ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.video{
    width: 100%;
    height: 620px;
   
}
.video video{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 620px;
}
.title{
   
    width: 100%;
    padding: 10px;
    height: 50px;
}
h1{
   
    font-size: 20px;
}
.p{
   
    width: 100%;
    padding: 10px;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.profal{
   
    width: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 70px;
}
.profal img{
    border-radius: 50%;
    width: 65px;
}
.name{
   
    width: 18%;
    justify-content: center;
    align-items: center;
   
    height: 70px;
}
h2{
    color: rgb(100, 99, 98);
    font-size: 16px;
}
a{
    text-decoration: none;
}
.sub h3:hover{
    transition: 7s ease;
    transform: scale(3.9);
    background-color: rgb(25, 160, 131);
}
h3{
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 150px;
    height: 50px;
    box-shadow: rgb(109, 108, 107) 0 0 5px 0;
    background-color: rgb(206, 205, 200);
    font-size: 20px;
}
h1{
    font-size: 20px;
}

.sub{

  
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 70px;
}
.like{
  
    width: 68%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 70px;
}
.l-s{
    box-shadow: rgb(109, 108, 107) 0 0 5px 0;
    background-color: rgb(206, 205, 200);
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    border-radius: 20px 0px 0px 20px; 
}
.l-s img{
    width: 35px;
}
.s-l img{
    width: 35px;
}
h4{
    margin-left: 4px;
}
.l-s:hover{
    background-color: rgb(131, 224, 224);
}
.s-l:hover{
    background-color: rgb(131, 224, 224);
}
.s-l{
    box-shadow: rgb(109, 108, 107) 0 0 5px 0;
    margin-left: 1px;
    background-color: rgb(206, 205, 200);
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    border-radius: 0px 20px 20px 0px;
}
.s:hover{
    background-color: rgb(131, 224, 224);
}
.save:hover{
    background-color: rgb(131, 224, 224);
}
.s{
    box-shadow: rgb(109, 108, 107) 0 0 5px 0;
    margin-left: 5px;
    background-color: rgb(206, 205, 200);
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    border-radius: 20px;
}
.s img{
    width: 30px;
}
.save{
    box-shadow: rgb(109, 108, 107) 0 0 5px 0;
    margin-left: 5px;
    background-color: rgb(206, 205, 200);
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    border-radius: 20px;
}
.save img{
    width: 30px;
}
.other{
    margin-top: 5px;
    box-shadow: rgb(190, 188, 190) 0px 0px 5px 0px;
    background-color: rgb(226, 223, 223);
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 150px;
    border-radius: 10px;
}
h5{
    font-size: 16px;
    padding: 10px;
}
.coment{
  
    margin-top: 5px;
    width: 100%;  
    height: auto;
  
}
.com{
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgb(175, 170, 170) 0 0 5px 0;
    background-color: rgb(230, 229, 229);
    width: 100%;
    display: flex;
    height: auto; 

}
.u{
  
    width: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90px; 
}
.u img{
    width: 60px;
    border-radius: 50%;
}
.text{
    
    width: 75%;
    
    height: 90px;
}
.ma{
    width: 10%;
    height: 90px;
    
    justify-content: center;
    align-items: center;
    display: flex;
}


.ma img{
    
    width: 25px;
}