*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.man{
  
    width: 100%;
    height: 800px;
    
}
.short{
    margin-bottom: 40px;
    box-shadow: rgb(163, 157, 163) 0px 0px 5px 0px;
    border-radius: 20px;
    column-gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 780px;
    background-color: rgb(236, 239, 243);
   
}
.v{
    border-radius: 20px;
    width: 500px;
    height: 700px;
    overflow: hidden;
   
}
.react{
    justify-content: center;
    
    align-items: center;
    width: 100px;
    height: 700px;
   
}
.v video{
    margin-left: 15px;
    border-radius: 20px;
    width: 490px;
    height: 770px;
    object-fit: cover;
    
}
.react img{
    margin-top: 10px;
    margin-left: 10px;
    width: 60px;
}
.in{
    width: 100px;
    height: 130px;
   
}
h4{
    color: black;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(24, 19, 19);
    margin-left: 25px;
}
.under{
    margin-top: 10px;
    width: 100px;
    height: 570px;
    
}
.box{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
    width: 60px;
    border-radius: 50%;

    height: 60px;
}
.box img{
   
    border-radius: 50%;
    width: 80px;
    height: 80px;
}